/* General body styling */
body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* General button styling */
button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#buttonBox button:nth-of-type(1) {
    background-color: #28a745;
    color: white;
}

#buttonBox button:nth-of-type(1):hover {
    background-color: #218838;
}

#buttonBox button:nth-of-type(2) {
    background-color: #007bff;
    color: white;
}

#buttonBox button:nth-of-type(2):hover {
    background-color: #0056b3;
}

#dBtn {
    margin-bottom: 10px;
    width: 600px;
    height: 300px;
    background-color: #ffc107;
    color: black;
    font-size: 24px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.1s ease;
    outline: none;
}

#dBtn:hover {
    background-color: #ffb300;
}

#dBtn:active {
    background-color: #ffb300;
    transform: scale(0.95);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

#dBtn:disabled {
    background-color: #e0e0e0; /* Light gray background */
    color: #b0b0b0; /* Gray text color */
    cursor: not-allowed; /* Indicate the button is not clickable */
    box-shadow: none; /* Remove box-shadow */
    transform: none; /* Remove transform effect */
}

/* Reset button */
#resetBtn {
    background-color: #f44336;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 18px;
}

#resetBtn:hover {
    background-color: #c62828;
}

/* Button container */
#buttonBox {
    position: fixed;
    top: 10px;
    left: 10px;
}

/* Countdown box */
#countdownBox {
    position: relative;
}
