html, body {
    height: 100%; /* 전체 높이 설정 */
    margin: 0;
    padding: 0;
    overflow: hidden; /* 스크롤 방지 */
}

body {
    position: relative; /* fixed 대신 relative 사용 */
    min-height: 100vh; /* viewport height 기준으로 최소 높이 설정 */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #a2c2e5 0%, #fef9d7 100%); /* 부드러운 배경색으로 변경 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden; /* 스크롤 방지 */
}

header {
    width: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    border-bottom: 4px solid #ffffff; /* 흰색 선 추가 */
    padding-bottom: 20px;
    animation: fadeInDown 1s ease-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    display: flex;
    width: 100%;
    flex: 2;
    justify-content: center;
    align-items: center;
    animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.buttonDiv {
    margin: 0 20px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}

.buttonDiv:hover {
    transform: scale(1.1);
}

button {
    background-color: #ffffff;
    color: #0056b3; /* 글씨 색상을 더 짙은 색으로 변경 */
    padding: 20px 40px; /* 패딩을 늘려 버튼 크기 확대 */
    font-size: 1.4rem; /* 글씨 크기 확대 */
    font-weight: bold; /* 글씨 두께를 굵게 */
    border: 2px solid #0056b3; /* 버튼 테두리 색상 변경 */
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    text-transform: uppercase; /* 글씨를 대문자로 변환 */
}

button:hover {
    background-color: #0056b3; /* 버튼 배경색 변경 */
    color: #ffffff; /* 버튼 텍스트 색상 변경 */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

footer {
    display: flex;
    width: 100%;
    flex: 0.5;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    animation: fadeInUp 1s ease-out;
}
