<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skill Sprint</title>
    <link href="css/selectEvent.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Skill Sprint</h1>
    </header>
    <section>
        <div class="buttonDiv">
            <button type="button" onclick="window.location.href='/reaction'">반응속도 테스트</button>
        </div>
        <div class="buttonDiv">
            <button type="button" onclick="window.location.href='/cps'">클릭속도 테스트</button>
        </div>
        <div class="buttonDiv">
            <button type="button" onclick="window.location.href='/typing'">타자속도 테스트</button>
        </div>
        <div class="buttonDiv">
            <button type="button" onclick="window.location.href='/sight'">다른 글자 찾기</button>
        </div>
    </section>
    <footer>
        <h6>Made By {"CLFR"}</h6>
    </footer>
</body>
</html>